﻿
<!--
body {font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #000000;
	background-color: #ffffff; }
p {  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: 18px; 
	font-weight: normal; 
	color: #000000; }
b {  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: 18px; 
	font-weight: bold; 
	color: #000000; }
td { 	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #000000; }
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 19px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #333333; }
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 17px; 
	font-style: normal;
	line-height: normal; 
	font-weight: normal;
	color: #333333; }
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 17px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #666666; }
h4 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000; }
h5 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000; }
h6 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000; }
em {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: italic; 
	line-height: 18px; 
	color: #000000; }
ul {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: 18px; 
	font-weight: normal; 
	color: #000000;
	list-style-type: square; }
ol {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: 18px; 
	font-weight: normal; 
	color: #000000; }
	
a:link {
	color: #3366cc;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}
a:visited {	color: #3366cc;
	font-size: 11px; 
	line-height: 18px; 
	font-weight: bold;
	text-decoration: none; }
a:hover {	color: #6699ff;
	font-size: 11px; 
	line-height: 18px; 
	font-weight: bold;
	text-decoration: underline; }
a:active {	color: #6699ff;
	font-size: 11px; 
	line-height: 18px; 
	font-weight: bold;
	text-decoration: underline; }
	
.nav {  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #ffffff; 
	background-color: #cccc33; }
	
.nav a:link    {	font-weight: normal; 
	color: #ffffff; }
.nav a:visited {	font-weight: normal; 
	color: #ffffff; }
.nav a:hover   {	font-weight: normal; 
	color: #cc3333; }
.nav a:active  {	font-weight: normal; 
	color: #cc3333; }
	
.cright { 	font-size: 11px; 
	font-style: normal; 
	line-height: 16px; 
	font-weight: normal; 
	color: #999999; }
.smcopy { 	font-size: 11px; 
	font-style: normal; 
	line-height: 16px; 
	font-weight: normal; 
	color: #333333; }
.smcopybd { font-size: 10px; 
	font-style: normal; 
	line-height: 16px; 
	font-weight: bold; 
	color: #333333; }
	
.caps {font-size: 10px; letter-spacing: 0.09em;
	font-style: normal; 
	line-height: 16px; 
	font-weight: normal; 
	color: #999999; 
	text-transform: uppercase; }

hr {  width: 100%; 
	height: 1px; 
	color: #cccccc; 
	text-align: center; }	


-->